<div class="contact-grid">
  <div class="contact-info">
    <div class="contact-row">

      <div class="contact-col">
        <h3 class="heading">{{site.data.contact-me.personal_contact.title}}</h3>

        <div class="contact-field">
          <span class="icon">📞</span>
          <a href="tel:{{ site.data.contact-me.personal_contact.phone }}">
            {{ site.data.contact-me.personal_contact.phone }}
          </a>
        </div>

        <div class="contact-field">
          <span class="icon">📍</span>
          <div>{{ site.data.contact-me.personal_contact.address }}</div>
        </div>

        <div class="contact-field">
          <span class="icon">📧</span>
          <a href="mailto:{{ site.data.contact-me.personal_contact.email }}">
            {{ site.data.contact-me.personal_contact.email }}
          </a>
        </div>
      </div>

      <div class="contact-col">
        <h3 class="heading">{{site.data.contact-me.social_contact.title}}</h3>
        <div class="contact-field">
          <span class="icon">💼</span>
          <div class="contact-details">
            <a href="{{ site.data.contact-me.social_contact.github }}">GitHub</a>
          </div>
        </div>
        <div class="contact-field">
          <span class="icon">🔗</span>
          <div class="contact-details">
            <a href="{{ site.data.contact-me.social_contact.linkedin }}">LinkedIn</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>