<section class="section">
  <h2 class="heading">✏️ Tidigare Arbetslivserfarenhet (Icke IT)</h2>

  <div class="experience-grid">
    {% for job in site.data.work_experience.experience %}
    <div class="experience-item">
      <h3 class="job-place">{{ job.place }}</h3>
      <div class="job-details">
        <span class="job-title">{{ job.title }}</span>
        <span class="job-years">{{ job.years }}</span>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- <hr class="section-divider" /> -->

  <section class="experience-grid">
    {% include extra-section/free-time.html %}
    {% include extra-section/languages.html %}
    {% include extra-section/references.html %}
  </section>
</section>