<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
  {% if page.css %}
  {% for stylesheet in page.css %}
  <link rel="stylesheet" href="{{ stylesheet | relative_url }}">
  {% endfor %}
  {% endif %}
</head>

<body>
  {% include header.html %}
  <main>
    <button class="theme-toggle" id="themeToggle">
      <span class="light-icon">☀️</span>
      <span class="dark-icon" style="display:none;">🌙</span>
    </button>
    {{ content }}
  </main>
  {% include footer.html %}
  <script src="{{ '/assets/js/menu.js' | relative_url }}" defer></script>
</body>

</html>